In [22]:
import pandas as pd
from sklearn import linear_model
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [23]:
TCS = pd.read_csv('TCS.csv')

In [24]:
TCS

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2004-08-25,TCS,EQ,850.00,1198.70,1198.70,979.00,985.00,987.95,1008.32,17116372,1.725876e+15,NaN,5206360,0.3042
1,2004-08-26,TCS,EQ,987.95,992.00,997.00,975.30,976.85,979.00,985.65,5055400,4.982865e+14,NaN,1294899,0.2561
2,2004-08-27,TCS,EQ,979.00,982.40,982.40,958.55,961.20,962.65,969.94,3830750,3.715586e+14,NaN,976527,0.2549
3,2004-08-30,TCS,EQ,962.65,969.90,990.00,965.00,986.40,986.75,982.65,3058151,3.005106e+14,NaN,701664,0.2294
4,2004-08-31,TCS,EQ,986.75,986.50,990.00,976.00,987.80,988.10,982.18,2649332,2.602133e+14,NaN,695234,0.2624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4134,2021-04-26,TCS,EQ,3109.50,3102.05,3153.00,3088.05,3100.05,3100.80,3122.35,2490260,7.775465e+14,87012.0,1345353,0.5402
4135,2021-04-27,TCS,EQ,3100.80,3106.00,3136.10,3103.00,3132.75,3132.00,3122.18,1471417,4.594036e+14,97077.0,849767,0.5775
4136,2021-04-28,TCS,EQ,3132.00,3149.95,3151.00,3112.00,3123.00,3124.10,3125.72,1639037,5.123176e+14,76017.0,847762,0.5172
4137,2021-04-29,TCS,EQ,3124.10,3145.60,3157.35,3105.50,3114.45,3115.25,3130.83,1621395,5.076306e+14,98275.0,837567,0.5166
4138,2021-04-30,TCS,EQ,3115.25,3099.00,3132.05,3020.00,3040.00,3035.65,3063.19,3072305,9.411057e+14,157829.0,1942473,0.6323

In [25]:
TCS.dropna(inplace=True)

In [26]:
TCS

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
1683,2011-06-01,TCS,EQ,1157.15,1157.00,1177.00,1157.00,1174.70,1175.40,1171.25,491193,5.753106e+13,24427.0,235463,0.4794
1684,2011-06-02,TCS,EQ,1175.40,1158.90,1172.00,1156.65,1170.00,1167.75,1163.45,848827,9.875700e+13,31879.0,505320,0.5953
1685,2011-06-03,TCS,EQ,1167.75,1166.00,1175.00,1150.00,1153.00,1152.10,1157.15,683904,7.913794e+13,21179.0,416548,0.6091
1686,2011-06-06,TCS,EQ,1152.10,1140.00,1168.00,1140.00,1167.00,1164.35,1156.70,678537,7.848626e+13,20965.0,373937,0.5511
1687,2011-06-07,TCS,EQ,1164.35,1163.00,1183.15,1158.00,1180.00,1179.30,1175.19,918721,1.079673e+14,26487.0,598039,0.6509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4134,2021-04-26,TCS,EQ,3109.50,3102.05,3153.00,3088.05,3100.05,3100.80,3122.35,2490260,7.775465e+14,87012.0,1345353,0.5402
4135,2021-04-27,TCS,EQ,3100.80,3106.00,3136.10,3103.00,3132.75,3132.00,3122.18,1471417,4.594036e+14,97077.0,849767,0.5775
4136,2021-04-28,TCS,EQ,3132.00,3149.95,3151.00,3112.00,3123.00,3124.10,3125.72,1639037,5.123176e+14,76017.0,847762,0.5172
4137,2021-04-29,TCS,EQ,3124.10,3145.60,3157.35,3105.50,3114.45,3115.25,3130.83,1621395,5.076306e+14,98275.0,837567,0.5166
4138,2021-04-30,TCS,EQ,3115.25,3099.00,3132.05,3020.00,3040.00,3035.65,3063.19,3072305,9.411057e+14,157829.0,1942473,0.6323

In [39]:
x=TCS[['Prev Close','Open','High','Low','Last','Close','VWAP','Volume','Trades','Deliverable Volume']]
y=TCS['%Deliverble']

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.05)

In [44]:
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [45]:
reg.predict(x_test)

array([0.65103199, 0.63005758, 0.58014866, 0.56608517, 0.6222408 ,
       0.6103164 , 0.58158861, 0.56285873, 0.51017383, 0.58681942,
       0.45972604, 0.63001499, 0.58016297, 0.58587897, 0.57783916,
       0.50663679, 0.59076011, 0.5913037 , 0.56954979, 0.60649763,
       0.64994962, 0.57986827, 0.60485964, 0.60256156, 0.57497873,
       0.57311894, 0.61700205, 0.4104526 , 0.62682722, 0.60719602,
       0.54154127, 0.62787718, 0.58761218, 0.63850981, 0.59586479,
       0.64503958, 0.57117291, 0.55993837, 0.59822921, 0.6338091 ,
       0.51964499, 0.59098135, 0.46078444, 0.57532231, 0.69186508,
       0.58614814, 0.59481441, 0.68652829, 0.53477515, 0.58836172,
       0.59429227, 0.61919792, 0.61348321, 0.61406399, 0.59386086,
       0.51986207, 0.62404946, 0.61010764, 0.59568836, 0.69705388,
       0.44498041, 0.61438003, 0.53177987, 0.39577133, 0.39576903,
       0.67929125, 0.59125855, 0.70300969, 0.6194288 , 0.70472512,
       0.59367635, 0.59999975, 0.59221577, 0.59695603, 0.68364679,
       0.56925018, 0.52978212, 0.50529862, 0.61191005, 0.59018501,
       0.60325605, 0.59972393, 0.60642773, 0.53779083, 0.58549235,
       0.5748591 , 0.63950412, 0.58751491, 0.61049922, 0.58785033,
       0.52932132, 0.64927441, 0.59886788, 0.57481277, 0.60247624,
       0.57765352, 0.55130993, 0.61502822, 0.61531867, 0.59883229,
       0.62601877, 0.38845791, 0.59338992, 0.57481313, 0.5854456 ,
       0.59870282, 0.56255109, 0.61800536, 0.63540231, 0.58488501,
       0.68667662, 0.55630727, 0.51524585, 0.59423695, 0.65472724,
       0.64104793, 0.60635473, 0.61839056, 0.58347126, 0.57796419,
       0.61690901, 0.57421539, 0.48263646])

In [47]:
TCS.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2456 entries, 1683 to 4138
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                2456 non-null   object
 1   Symbol              2456 non-null   object
 2   Series              2456 non-null   object
 3   Prev Close          2456 non-null   float64
 4   Open                2456 non-null   float64
 5   High                2456 non-null   float64
 6   Low                 2456 non-null   float64
 7   Last                2456 non-null   float64
 8   Close               2456 non-null   float64
 9   VWAP                2456 non-null   float64
 10  Volume              2456 non-null   int64
 11  Turnover            2456 non-null   float64
 12  Trades              2456 non-null   float64
 13  Deliverable Volume  2456 non-null   int64
 14  %Deliverble         2456 non-null   float64
dtypes: float64(10), int64(2), object(3)
memory usage: 307.0+ KB

In [49]:
TCS.describe()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
count,2456.000000,2456.000000,2456.000000,2456.000000,2456.000000,2456.000000,2456.000000,2.456000e+03,2.456000e+03,2456.000000,2.456000e+03,2456.000000
mean,2134.694137,2136.063844,2159.253787,2111.951934,2135.502728,2135.458998,2135.687166,1.915014e+06,4.138982e+14,85502.709283,1.039401e+06,0.580924
std,561.528271,561.982062,566.995318,556.669640,561.570719,561.475566,561.655661,1.808137e+06,4.573581e+14,56031.488595,9.482797e+05,0.128103
min,918.050000,920.850000,930.000000,902.000000,916.500000,918.050000,917.320000,2.801700e+04,3.989508e+12,1219.000000,7.765000e+03,0.121400
25%,1847.337500,1852.037500,1876.425000,1825.037500,1850.037500,1848.312500,1851.202500,9.031782e+05,1.816315e+14,46749.500000,5.503198e+05,0.495575
50%,2214.050000,2219.900000,2243.975000,2190.900000,2216.750000,2214.625000,2218.570000,1.394599e+06,2.844437e+14,68901.000000,8.534140e+05,0.587450
75%,2516.862500,2519.900000,2542.112500,2494.312500,2520.000000,2517.475000,2514.457500,2.414472e+06,5.119436e+14,110630.250000,1.304076e+06,0.679050
max,3603.700000,3625.000000,3674.800000,3572.550000,3610.750000,3603.700000,3633.110000,4.403358e+07,1.268362e+16,542541.000000,3.155626e+07,0.899300