In [2]:
import pandas as pd

In [7]:
print(pd.__version__)#print version

2.0.3

In [16]:
#create a series with index 
a=[1,2,3,4,5,6]
s1=pd.Series(a,index=['i1','i2','i3','i4','i5','i6'])#print withhin a index 
s2=pd.Series(a)#print without index
print(s1)
print(s2)

i1    1
i2    2
i3    3
i4    4
i5    5
i6    6
dtype: int64
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [19]:
print(s1['i1'])#print the series as a index

1

In [21]:
#print the series in keysvalue pair 
keyvalue={"tej":85,"smitt":86,"xyz":1,"abc":23}
newkey=pd.Series(keyvalue)
print(newkey)

tej      85
smitt    86
xyz       1
abc      23
dtype: int64

In [25]:
#example of the Dataframe 
student={'subject':['aiml','ccn','ws','cs'],
        'marks':[90,89,70,99]}
Sstude=pd.DataFrame(student)
print(Sstude)

  subject  marks
0    aiml     90
1     ccn     89
2      ws     70
3      cs     99

In [32]:
#fetch sigle row in dattaframe
print(Sstude.loc[3])

subject    cs
marks      99
Name: 3, dtype: object

In [35]:
#read the data from the csv file 

studData=pd.read_csv('mlpdoc.csv')
print(studData)

   Sr.No StudentName   Birthdate Course  Percentage
0      1     Bhavdip  23-10-2002  MSCIT        64.0
1      2    Digvijay  15-11-2002  MSCIT        81.0
2      3        Smit  11-15-2002  MSCIT        86.0
3      4      Tejasv  10-06-2003  MSCIT        85.0
4      5      Uzzama  16-04-1997  MSCIT        87.0
5      6     Bhavesh  12-5-88888    NaN         NaN

In [38]:
#print the first five record from the file 
print(studData.head())

   Sr.No StudentName   Birthdate Course  Percentage
0      1     Bhavdip  23-10-2002  MSCIT        64.0
1      2    Digvijay  15-11-2002  MSCIT        81.0
2      3        Smit  11-15-2002  MSCIT        86.0
3      4      Tejasv  10-06-2003  MSCIT        85.0
4      5      Uzzama  16-04-1997  MSCIT        87.0

In [40]:
#print the last five records from file 
print(studData.tail())

   Sr.No StudentName   Birthdate Course  Percentage
1      2    Digvijay  15-11-2002  MSCIT        81.0
2      3        Smit  11-15-2002  MSCIT        86.0
3      4      Tejasv  10-06-2003  MSCIT        85.0
4      5      Uzzama  16-04-1997  MSCIT        87.0
5      6     Bhavesh  12-5-88888    NaN         NaN

In [43]:
#print the second number / location of the record 
print(studData.loc[2])

Sr.No                   3
StudentName          Smit
Birthdate      11-15-2002
Course              MSCIT
Percentage           86.0
Name: 2, dtype: object

In [45]:
# show the null, non-null values , datatypes and memory usage
print(studData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sr.No        6 non-null      int64
 1   StudentName  6 non-null      object
 2   Birthdate    6 non-null      object
 3   Course       5 non-null      object
 4   Percentage   5 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 372.0+ bytes
None

In [47]:
#drop a null value data from the records 
newStudData=studData.dropna()
print(newStudData)

   Sr.No StudentName   Birthdate Course  Percentage
0      1     Bhavdip  23-10-2002  MSCIT        64.0
1      2    Digvijay  15-11-2002  MSCIT        81.0
2      3        Smit  11-15-2002  MSCIT        86.0
3      4      Tejasv  10-06-2003  MSCIT        85.0
4      5      Uzzama  16-04-1997  MSCIT        87.0

In [49]:
#replace value to the null values 
filledStud=studData.fillna(30)
print(filledStud)

   Sr.No StudentName   Birthdate Course  Percentage
0      1     Bhavdip  23-10-2002  MSCIT        64.0
1      2    Digvijay  15-11-2002  MSCIT        81.0
2      3        Smit  11-15-2002  MSCIT        86.0
3      4      Tejasv  10-06-2003  MSCIT        85.0
4      5      Uzzama  16-04-1997  MSCIT        87.0
5      6     Bhavesh  12-5-88888     30        30.0

In [53]:
#replace the null value according to the column
new=studData['Course'].fillna('MCA')
print(new)

0    MSCIT
1    MSCIT
2    MSCIT
3    MSCIT
4    MSCIT
5      MCA
Name: Course, dtype: object

In [56]:
# update the null record from the file with respect to the column
studData['Course'].fillna('MCA',inplace=True)
print(studData)

   Sr.No StudentName   Birthdate Course  Percentage
0      1     Bhavdip  23-10-2002  MSCIT        64.0
1      2    Digvijay  15-11-2002  MSCIT        81.0
2      3        Smit  11-15-2002  MSCIT        86.0
3      4      Tejasv  10-06-2003  MSCIT        85.0
4      5      Uzzama  16-04-1997  MSCIT        87.0
5      6     Bhavesh  12-5-88888    MCA         NaN

In [59]:
#mean.........
mean=studData["Percentage"].mean()
print(f"mean:{mean}")

mean:80.6

In [61]:
#median........
median=studData['Percentage'].median()
print(f"median:{median}")

median:85.0

In [64]:
#mode..........
mode=studData['Percentage'].mode()
print(f"mode:{mode}")

mode:0    64.0
1    81.0
2    85.0
3    86.0
4    87.0
Name: Percentage, dtype: float64